body {
    margin: 0;
    padding: 0;
    color: #330;
    text-align: center;
    font-family: "Courier";
    font-size: 16px;
}
#container {
    width: 70%;
    text-align: left;
    margin: 1rem auto;
    border: 1px solid #DDD;
    font-weight: bold;
}
#header{
    margin: 0;
    padding: 8px;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
    background-color: #337;
    color: white;
}
#header img {
    width: 70px;
    align-items: center;
}
#header #tagline {
    padding: 0 0 0 0.8rem;
    font-size: 1.5rem;
    font-weight: normal;
}
#container h1{
    font-size: 20px;
}
#post {
    padding: 1rem;
}
#footer {
    margin: 0;
    padding: 0.8rem;
    text-align: center;
    font-size: 1.2rem;
    color:rgb(243, 204, 152);
    background-color: #337;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
}