body {
    margin: 0;
    padding: 0;
    color: #330;
    text-align: center;
    font-family: "Courier";
    font-size: 16px;
}
#container {
    width: 70%;
    text-align: left;
    margin: 1rem auto;
    border: 1px solid #DDD;
    font-weight: bold;
}
#cabecera{
    background-color: #33A;
    font-size: 3rem;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px;
    margin: 0;
}
#cabecera #tagline {
    font-size: 2.3rem;
    font-weight: normal;
    padding: 0 0 0 0.8rem;
}
#container h1{
    font-size: 20px;
}
#post {
    padding: 1rem;
}